ul#nav li { 
                display: inline-block;
                padding-right: 30px;
                background-color:blue;
            }
#nav a {
	color:black;
}
#about_blue {
	background-color: #6495ED;
}
#about_yellow {
	background-color: #FFEBCD;
}
.color-info {
	border-style:solid; margin:3px;
	border-color:black;
}
li.important {
	font-weight:bold;
	font-size:28x;
}
ul#font_blue {
	color: pink;
}
ul#font_yellow {
	color:orange;
}
TEST CHANGE 
